# << ansible managed file >>

filebeat.modules:
- module: nginx
  access:
    enabled: true
    var.paths:
      - /var/log/nginx/access.log
      - /var/log/nginx/access.log.1
    input:
      ignore_older: 100h
  error:
    enabled: true
    var.paths:
      - /var/log/nginx/error.log
      - /var/log/nginx/error.log.1
    input:

output:
  logstash:
    hosts: [ 'localhost:5044' ]

setup:
  kibana:
    host: ["localhost:5601"]

#name:
#tags: ["service-X", "web-tier"]
filebeat.registry_file: ${path.data}/registry

logging:
  level: info
  files:
    rotateeverybytes: 10485760 # = 10MB
